[package]
name = "directed-graph"
version = "0.1.0"
edition = "2024"
rust-version = "1.90"

[dependencies]
indexmap = "2.13.0"

[dev-dependencies]
criterion = { version = "0.8", features = ["html_reports"] }

[[bench]]
name = "benchmark"
harness = false
